@import 'colors';
@import 'animation';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	background-color: $bg-color;
}

h2 {
	text-align: center;
	text-transform: uppercase;
}
.blue-text {
	color: $main-color;
}
nav {
	display: inline-block;
	flex-direction: row-reverse;
	text-transform: uppercase;
	transition: background-color 0.6s;
	z-index: 1;
	height: 42px;
	.prices {
		.price-info {
			font-size: 18px;
		}
	}

	a,
	i {
		color: $black;
	}

	a:hover {
		color: $main-color;
		i,
		.checkbox-btn {
			color: $main-color;
		}
	}

	.fa-bars {
		padding: 10px;
	}

	.navbar-brand {
		font-weight: bold;
	}

	.active {
		color: $main-color;
	}
}

header {
	color: $black;

	h1 {
		font-size: 30px;
		text-transform: uppercase;
	}

	p {
		font-size: 14px;
	}

	.hero-img {
		position: relative;
		height: 95.3vh;
	}

	.hero-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #fff;
		z-index: -1;
	}

	.hero-text {
		display: flex;
		justify-content: center;
		flex-direction: column;
		height: 100%;
		padding: 10px;
		text-align: center;
		z-index: 5;
	}

	.ut {
		text-transform: uppercase;
	}
}
.talk-to-ai {
	resize: none;
}
.form-control {
	transition: 0.5s;
}
.checkbox-ai {
	transition: color 0.8s;
}
.btn-outline-light {
	background-color: $white;
}
.ti-search {
	color: black;
}
.checkbox-ai:hover {
	color: $main-color;
}
.styl-chbox:hover {
	background-color: $main-color;
}

.form-center {
	display: flex;
	margin: auto;
	align-items: center;
}
.form {
	position: relative;
	width: 50%;
	display: flex;
	flex-direction: column;
	margin: auto;
}
.btn-center {
	margin: auto;
	align-items: center;
}
.btn-submit {
	width: 15%;
	margin-top: 2%;
	margin-right: 5%;
	border-radius: 1.5rem;
	color: black;
}
.btn-reset {
	width: 15%;
	margin-top: 2%;
	margin-left: 1%;
	border-radius: 1.5rem;
	color: black;
}

.border-primary,
.btn-outline-primary,
.btn-list {
	border-radius: 1.5rem;
}

.button-size {
	margin: auto;
	margin-left: 1%;
	background-color: #fff;
	z-index: 5;
}

.ti-menu-2 {
	font-size: 80%;
}
.list-none {
	list-style-type: none;
}
.style-btn {
	width: 100%;
}
.button-style-log {
	color: black;
	background-color: #fff;
}
nav {
	font-size: 80%;
	position: relative;
	margin-top: 1.7%;
}
.bgc-menu {
	position: relative;
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
	background-color: rgb(248, 250, 250);
}
.button-style-log {
	position: relative;
	left: 0.3%;
	text-transform: uppercase;
}
.style-btn-ul {
	background-color: #fff;
}
.search-text{
	text-align: start;
	color: black;
}
.span-tyle {
	background-color: #fff;
	border-radius: 15%;
}
footer {
	position: relative;
	width: 100%;
	top: -2.8%;
}
.button-register {
	position: relative;
	left: 84%;
}
.link-nav {
	
	list-style: none;
	text-decoration: none;
	color: black;
}
.link-nav:hover {
	color: black;
}
@media (min-width: 375px) {
	header {
		h1 {
			font-size: 36px;
		}

		p {
			font-size: 16px;
		}
	}
}

@media (min-width: 768px) {
	header {
		h1 {
			font-size: 42px;
		}

		p {
			font-size: 20px;
		}
	}
}
@media (max-width: 1350px) {
	.bgc-menu {
		position: relative;
		top: 20%;
	}
}
@media (max-width: 1150px) {
	.bgc-menu {
		position: relative;
		top: 40%;
	}
}
@media (max-width: 900px) {
	.bgc-menu {
		position: relative;
		top: 60%;
	}
}
@media (max-width: 600px) {
	.bgc-menu {
		position: relative;
		top: 80%;
	}
}
@media (max-width: 350px) {
	.bgc-menu {
		position: relative;
		top: 100%;
	}
}
@media (max-width: 770px) {
	.btn-submit {
		width: 40%;
		margin-top: 2%;
		margin-right: 2%;
		border-radius: 1.5rem;
	}
	.btn-reset {
		width: 40%;
		margin-top: 2%;
		margin-left: 1%;
		border-radius: 1.5rem;
	}
}
@media (max-width: 1500px) {
	.button-style-log {
		position: relative;
		left: 81%;
	}
}
@media (max-width: 1400px) {
	.button-style-log {
		position: relative;
		left: 79%;
	}
}
@media (max-width: 1250px) {
	.button-style-log {
		position: relative;
		left: 75%;
	}
}
@media (max-width: 1050px) {
	.button-style-log {
		position: relative;
		left: 70%;
	}
}
@media (max-width: 900px) {
	.button-style-log {
		position: relative;
		left: 65%;
	}
}
@media (max-width: 750px) {
	.button-style-log {
		position: relative;
		left: 60%;
	}
}
@media (max-width: 650px) {
	.button-style-log {
		position: relative;
		left: 52%;
	}
}
@media (max-width: 550px) {
	.button-style-log {
		position: relative;
		left: 48%;
	}
}
@media (max-width: 500px) {
	.button-style-log {
		position: relative;
		left: 43%;
	}
}
@media (max-width: 450px) {
	.button-style-log {
		position: relative;
		left: 36%;
	}
}
@media (max-width: 400px) {
	.button-style-log {
		position: relative;
		left: 27%;
	}
}
@media (max-width: 350px) {
	.button-style-log {
		position: relative;
		left: 16%;
	}
}
@media (max-width: 300px) {
	.button-style-log {
		position: relative;
		left: 10%;
	}
}
@media (max-width: 280px) {
	.button-style-log {
		position: relative;
		left: 5%;
	}
}
// register
.register-body {
	background-color: #fff;
	.fl-name {
		text-align: center;
	}
	.menu-register {
		display: flex;
		justify-content: center;
		margin-top: 6%;
	}
	.register-form {
		border: #bcbcbc 2px solid;
		background-color: #fff;
		border-radius: 7%;
	}
	.item {
		text-decoration: none;
	}
	.link-transform {
		color: black;
	}
	.link-transform:hover {
		color: royalblue;
	}
}

// login
.login-body {
	background-color: rgba(255, 255, 255, 0.2);
	.menu-login {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 15%;
	}
	.item {
		text-decoration: none;
	}
	.login-form {
		border: #bcbcbc 2px solid;
		background-color: #fff;
		border-radius: 7%;
	}
	.link-transform {
		color: black;
	}
	.link-transform:hover {
		color: royalblue;
	}
}
